{% extends 'layout.html' %}

{% block body %}

<!-- ABOUT -->



<!-- PROJECT -->
<section id="project" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM      class="image-popup"-->
                    <div class="project-item">
                         <a href="/apj">
                              <img src="{{ url_for('static', filename='img/apjkalam.jpg') }}" class="img-responsive" alt="">
                         
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1>A. P. J ABDUL KALAM</h1>
                                        <h3>HALL OF RESIDENCE</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/devi">
                              <img src="{{ url_for('static', filename='img/devi.jpg') }}" class="img-responsive" alt="">
                         
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1>DEVI AHILYA</h1>
                                        <h3>HALL OF RESIDENCE</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/vsb">
                              <img src="{{ url_for('static', filename='img/vsb.jpg') }}" class="img-responsive" alt="">
                         
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1>VIKRAM SARABHAI</h1>
                                        <h3>HALL OF RESIDENCE</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/cvr">
                              <img src="{{ url_for('static', filename='img/cv.jpg') }}" class="img-responsive" alt="">
                         
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1>C. V. RAMAN</h1>
                                        <h3>HALL OF RESIDENCE</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>               

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/homi">
                              <img src="{{ url_for('static', filename='img/hjb.jpg') }}" class="img-responsive" alt="">
                         
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1>HOMI JEHANGIR BHABHA</h1>
                                        <h3>HALL OF RESIDENCE</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>            

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div class="project-item">
                         <a href="/jcb">
                              <img src="{{ url_for('static', filename='img/jcb.jpg') }}" class="img-responsive" alt="">
                         
                              <div class="project-overlay">
                                   <div class="project-info">
                                        <h1>J. C. BOSE</h1>
                                        <h3>HALL OF RESIDENCE</h3>
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>               

          </div>
     </div>
</section>
{% endblock %}